{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to WordGirl!<h2>
    <h3>This is a project made at FemmeHacks2016<h3>
    <form method="POST" action="/submitform/">
        <label><span>Insert url of site to analyze: </span></label><br>
        <input type="text" name="url"/><br>
        <label><span>Insert keyword (related words will also be identified): </span></label><br>
        <input type="text" name="keyword"/><br>
        <input type="submit" value="Run analysis"/>
    </form>
  </div>
{% endblock %}
